body {
    background-color: #292725;
}

form {
    background-color: white;
    max-width: 50%;
    margin: 20px auto;
    border-radius: 10px;
    padding: 20px;
    border: 5px solid #E98333;
    transition: 0.3s;
}

form:hover {
    transform: scale(1.01);
}

.head {
    font-size: 3.1em;
}

h1 {
    color: #E98333;
    text-align: center;
    font-family: 'Kanit', sans-serif;
}

h2 {
    font-family: 'Asap', sans-serif;
}

label {
    font-size: 1.1em;
    display: inline-block;
    margin-bottom: 5px;
    font-family: 'Asap', sans-serif;
}

textarea {
    height: 100px;
    resize: none;
}

input[type="text"],
input[type="email"],
textarea,
select {
    width: 97%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #E98333;
    border-radius: 5px;
    background-color: #f2f2f2;
}

input[type="number"] {
    width: 5%;
    border: 1px solid #E98333;
}

input[type="tel"] {
    width: 20%;
    padding: 9px;
    margin-bottom: 15px;
    border-radius: 5px;
    background-color: #f2f2f2c0;
    border: 1px solid #E98333;
}

select {
    width: 100%;
    text-align: center;
    background-color: #E98333;
}

input[type="submit"],
input[type="reset"] {
    background-color: #292725;
    color: white;
    padding: 10px;
    border: 2px solid #E98333;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #E98333;
}

.button-container {
    text-align: right;
    margin-top: 5px;
}

.burger {
    border: 2px solid #E98333;
    width: 300px;
    float: left;
    margin-top: 15px;
    margin-right: 20px;
}

.orders {
    border: 2px solid #E98333;
    width: 300px;
    display: block;
    margin: 20px auto;
}

.middle {
    text-align: center;
}

.left {
    text-align: left;
}